<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{% block title %}Авторизация(Work2){% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>Work2</h1>
        </header>
        <main>
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>
        <footer>
            <p>2024 Здесь могло быть название вашего магазина)&copy;</p>
        </footer>
    </div>
</body>

</html>